nano /etc/network/interfaces
    Muda a config de dns:
        dns-nameservers 45.235.162.178 8.8.8.8
systemctl restart networking

apt update && apt upgrade -y
apt install openssh-server -y
systemctl enable ssh --now
systemctl status ssh

nano /etc/ssh/sshd_config
    Muda a config de ssh:
        PermitRootLogin yes
        PasswordAuthentication yes
        PubkeyAuthentication yes
        PermitEmptyPasswords no
        Port 22
        ListenAddress 0.0.0.0
        MaxSessions 10

systemctl restart ssh